*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.50rem 2rem;
    background: linear-gradient(to right, #ddd6f3, #faaca8);
    font-size: 1.5rem;
}

.conright{
    display: flex;
}


.conright a{
    text-decoration: none;
    color: #000;
    margin: 0 0.50rem;
}

.apidata{
    display: flex;
    flex-wrap: wrap;
}

.dataset{
    border: 1px solid;
    border-radius:40px;
    text-align: center;
    margin: 1rem 1rem;
    padding: 1rem 0;
    width: 30%;
    background: linear-gradient(to right, #ddd6f3, #faaca8);
    box-shadow: 10px 8px 10px 0px;
}

.dataset a{
    text-decoration: none;
    font-size: 1.5rem;
    background-color: crimson;
    color: #fff;
    border-radius: 10px;
    padding: 0.50rem 1rem;
}

.dataset img{
    width: 50%;
    border-radius: 10px;
    mix-blend-mode: darken;
}

.dataset img, h2, h3, p ,a{
    margin: 0.50rem 0;
}

.setform{
    background-color: #312f2f;
    height: 90vh;
}

.setform h1{
    text-align: center;
    color: #fff;
    padding-top: 2rem;
}

.form{
    width: 30%;
    margin: 0 auto;
    padding: 2rem 0;
}

.form input{
    width: 400px;
    padding: 1rem 0;
    margin: 0.25rem 0;
    font-size: 1rem;
    text-align: center;
}

.form button{
    width: 400px;
    padding: 1rem 0;
    text-align: center;
    font-size: 1rem;
}

.login{
    background-color: #312f2f;
    height: 90vh;
}

.setlogin{
    width: 30%;
    margin: 0 auto;
    padding: 4rem 0;
}

.setlogin input{
    width: 300px;
    padding: 1rem 0;
    margin: 0.25rem 0;
    font-size: 1rem;
    text-align: center;
}

.setlogin button{
    width: 300px;
    padding: 1rem 0;
    font-size: 1rem ;
}

.cartone{
    display: flex;
    flex-wrap: wrap;
    background-color: #312f2f;
}

.cartset{
    width: 30%;
    border: 1px solid;
    margin: 0.50rem 1rem;
    text-align: center;
    background-color: #e2e2cf;
    border-radius: 20px;
    height: 450px;
}

.cartset img{
    width: 80%;
    mix-blend-mode: darken;
    height: 60%;
    border-radius: 20px;
    margin-top: 1rem;
    height: 50%;
}

@media all and (max-width :1000px){
    .apidata{
        width: 100%;
        flex-wrap: wrap;
    }    
}

@media all and (max-width:1000px){
    .cartone{
        width: 100%;
    }
}

@media all and (max-width:950px){
    .apidata{
        display: block;
        flex-wrap: wrap;
        width: 100%;
    }
    .cartone{
        display: block;
    }
}

@media all and (max-width:700px){
    .dataset{
        font-size: 0.50rem;
    }
    .dataset a{
        font-size: 0.50rem;
    }
    .cartset{
        font-size: 0.50rem;
    }
    .cartset img{
        height: 30%;
    }
}

@media all and (max-width:600px){
    .setform input{
        padding: 0.50rem;
    }

    .form input{
        text-align: left;
        padding-right: 2rem;
        width: 200px;
    }

    .setform button{
        width: 200px;
        padding: 0.50rem;
    }
    .setform h1{
        font-size: 1rem;
    }

    .login input{
        width: 200px;
        text-align: left;
        padding: 0.50rem;
    }

    .login button{
        width: 200px;
        padding: 0.50rem;
    }
    .conleft h3{
        font-size: 1rem;
    }
    .conright h3{
        font-size: 1rem;
    }
    .apidata{
        padding-left: 5rem;
    }
}

@media all and (max-width:350px){
    .setform input{
        width: 200px;
    }
}

@media all and (max-width:400px){
    
}